<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p style="position: absolute;right: 5%;top: 1px;">Your username: {{username}}</p>
    <a style="position: absolute;right: 0;" class="navbar-brand" href="/login?logout">Logout</a>
</nav>

<div>
    <form id="sendMessage">
        <div class="form-group">
            <label for="text">Invia un messaggio con il bot:</label>
            <input type="text" class="form-control" id="text">
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
    <h2>This page is only visible to logged in users, your username: {{username}}</h2>


    <h2>Eventi <small style="cursor: pointer" onclick="loadEvents()">reload</small></h2>
    <div id="events">

    </div>

    <h2>Utenti <small style="cursor: pointer" onclick="loadUsers()">reload</small></h2>
    <div id="users">

    </div>

    <script defer src="/scripts/administration.js"></script>
</div>