<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Protected Page</a>
</nav>

<div>
    <form id="sendMessage">
        <div class="form-group">
            <label for="text">Invia un messaggio con il bot:</label>
            <input type="text" class="form-control" id="text">
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
    <h2>This page is only visible to logged in users, your username: {{username}}</h2>

    <div class="d-flex flex-row bd-highlight mb-2">
        <div style="margin-right: 20px; width: 100%">
            <caption>Ban list</caption>
            <table class="table table-striped ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Banned By</th>
                        <th scope="col">From</th>
                        <th scope="col">Until</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Unban</th>
                    </tr>
                </thead>
                <tbody id="ban">
                </tbody>
            </table>
        </div>
        <div style="width: 100%">
            <caption>Kick list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Kicked By</th>
                        <th scope="col">From</th>
                        <th scope="col">Reason</th>
                    </tr>
                </thead>
                <tbody id="kick">
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-2">
        <div style="margin-right: 20px; width: 100%">
            <caption>Mute list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Muted By</th>
                        <th scope="col">From</th>
                        <th scope="col">Until</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Unmute</th>
                    </tr>
                </thead>
                <tbody id="mute">
                </tbody>
            </table>
        </div>
        <div style="width: 100%">
            <caption>Warn list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Warned By</th>
                        <th scope="col">From</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody id="warn">
                </tbody>
            </table>
        </div>
    </div>

    <script defer src="/scripts/administration.js"></script>
</div>