<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">

        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form method="POST" action="/login">
            <div class="form-group">
                <label for="userID">ID Utente</label>
                <input name="userID" type="text" class="form-control" id="userID" placeholder="ID Utente">
            </div>
            <div class="form-group">
                <label for="group">ID Gruppo</label>
                <input name="group" type="number" min="0" class="form-control" id="group" placeholder="Group ID">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>